<!DOCTYPE html>
<html>
  <head>
    <title>Assessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= (render partial: "layouts/single_center_top") if not current_user %>

    <%= render partial: "layouts/nav" %>
  
    <%= render partial: "layouts/flash_messages" %>

    <%= yield %>

    <%= (render partial: "layouts/single_center_bottom") if not current_user %>
  </body>
</html>
