<% if task.errors.any? %>
  <div class="alert alert-warning" id="error_explanation">
    <p>
      <%= pluralize(task.errors.count, "error") %>
      prohibited this task from being saved:
    </p>
 
    <ul>
    <% task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for task do |f| %>
  <%= f.hidden_field :list_id, value: (@list.id if @list) || task.list_id %>
  <p> 
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
  <p>
    <%= f.label "Due (yyyy-mm-dd)" %><br>
    <%= f.text_field :due_date ,value: (task.due_date.strftime("%Y-%m-%d") if task.due_date)%>
  </p>
  <p> 
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </p>
  <br>
  <h5>Task Tags</h5>
  <p>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, value: true do |elem| %>
    <%= elem.check_box + elem.text %>&nbsp;
  <% end %>
  </p>
  <p>
    <h6>New Tag:</h6>
    <%= f.fields_for :tags, task.tags.build do |tag_fields| %>
      <%= tag_fields.text_field :name %>
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
