<%= form_for task do |f| %>
  <%= f.hidden_field :list_id, value: (@list.id if @list) || task.list_id %>
  <p> 
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
  <p>
    <%= f.label "Due (yyyy-mm-dd)" %><br>
    <%= f.text_field :due_date ,value: (task.due_date.strftime("%Y-%m-%d") if task.due_date)%>
  </p>
  <br>
  <h4>Tags</h4>
  <p>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, value: true do |elem| %>
    <%= elem.check_box + elem.text %>&nbsp;
  <% end %>
  </p>
  <p>
    <h6>New Tag:</h6>
    <%= f.fields_for :tags, task.tags.build do |tag_fields| %>
      <%= tag_fields.text_field :name %>
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
