<%= render partial: "layouts/single_center_top" %>

<h3><%= @task.name %></h3>
<h5><%= @task.description %></h5>
<p>&nbsp;</p>
<h6>Due: <%= @task.due_date.strftime("%A, %B %e, %Y") %></h6>
<h6>Status: <%= @task.status %></h6>

<%= link_to "Edit Task", edit_list_task_path(@task.list,@task) %>

<%= render partial: "layouts/single_center_bottom" %>

