<h4><%= create_or_update_text %> Tag</h4>
<%= form_for tag do |f| %>
  <p><%= f.label :name %><br>
  <%= f.text_field :name %><br></p>
  <%= f.submit "#{create_or_update_text} Tag", class: "btn btn-primary"%>
<% end %>
