<%= render partial: "layouts/single_center_top" %>
  <h4><%= @create_or_update_text %> List</h4>

  <%= form_for list do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
    </p>

    <%= f.submit "#{create_or_update_text} Tag", class: "btn btn-primary"%>
  <% end %>
<%= render partial: "layouts/single_center_bottom" %>
