<%= render partial: "layouts/single_center_top" %>

<h2><%= @list.name %></h2>
<%= link_to "Edit", edit_list_path(@list) if authorize_resource(current_user,@list,:edit) %>
<p>&nbsp;</p>

<h5>Collaborators:</h5>
<p><%= @list.collaborators(true) %></p>


<p>&nbsp;</p>
<h4>Tasks:</h4>
<hr>

<% if @list.tasks.empty? %>
  There are no tasks in this list.  
<% end%>

<% @list.tasks.each do |task| %>
  <h5><%= link_to task.name, list_task_path(@list,task) %></h5>
  <p>Due: <%= task.due_date.strftime("%A, %B %e, %Y") %><%= " (OVERDUE)" if task.overdue %></p>
  <p>Status: <%= task.status %></p>
  <hr>
<% end %>

<p>&nbsp;</p>
<p>&nbsp;</p>

<h5>Add Task</h5>
<%= render partial: "tasks/form", locals: {task: @task, list: @list} %>

<%= render partial: "layouts/single_center_bottom" %>
